{% extends "base.html" %}
{% block title %}Cached Comments{% endblock %}
{% block content %}
<div class="comments-layout" x-data="{ requestId: '', sortDir: 'desc' }">
    <h1>Cached Comments</h1>
    <div class="search-row">
        <label>Request ID:</label>
        <input type="text" class="input" x-model="requestId" @keydown.enter="
            htmx.ajax('GET', '/comments/' + requestId + '?sort=' + sortDir, {target: '#comments-display', swap: 'innerHTML'});
        ">
        <button class="btn btn-primary" @click="
            htmx.ajax('GET', '/comments/' + requestId + '?sort=' + sortDir, {target: '#comments-display', swap: 'innerHTML'});
        ">Search</button>
        <label class="checkbox-row">
            <input type="radio" name="sort" value="desc" x-model="sortDir"
                   @change="if(requestId) htmx.ajax('GET', '/comments/' + requestId + '?sort=' + sortDir, {target: '#comments-display', swap: 'innerHTML'})"> Newest first
        </label>
        <label class="checkbox-row">
            <input type="radio" name="sort" value="asc" x-model="sortDir"
                   @change="if(requestId) htmx.ajax('GET', '/comments/' + requestId + '?sort=' + sortDir, {target: '#comments-display', swap: 'innerHTML'})"> Oldest first
        </label>
    </div>
    <div id="comments-display" class="results-box">
        <pre>Enter an ID and press Enter.</pre>
    </div>
</div>
{% endblock %}